/*  your css code here. If applicable */
body{
	padding:0px;
	margin:0px;
	background-color:#cbd6cbff;
	width:1100px;
}
table {
  width: 100%;
  border: 1px solid black;
}

td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.firstColumn {
  width: 200px;
}

.middleColumn {
  width: 600px;
}

.lastColumn {
  width: 200px;
}